/* App.css */

/* Center the h1 and add some top margin */
h1 {
  text-align: center;
  margin-top: 20px;
}

/* Add margin to the h2 for spacing */
h2 {
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
}

/* Style for the table */
.custom-table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 20px;
}

/* Style for table headers and cells */
.custom-table th,
.custom-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

/* Set a fixed width for the first column */
.custom-table th {
  width: 100px;
}

/* Set the background color for all rows */
.custom-table tr {
  background-color: gray;
}

/* Set a different background color when hovering over a row */
.custom-table tr:hover {
  background-color: lightgray;
}

/* Add new styles for the layout */
.app-container {
  display: flex;
  justify-content: space-between; /* Distribute columns evenly */
}

.game-column {
  flex-basis: calc(50% - 10px); /* Adjust column width */
}

/* Add margin to the submit button for spacing */
button {
  margin-top: 20px;
}

body {
  background-color: blue;
  margin: 0; /* Reset default margin to ensure full page coverage */
  padding: 0; /* Reset default padding to ensure full page coverage */
}
